<template>
    <div id="app">
        <header class="govuk-header " role="banner" data-module="govuk-header">
            <div class="govuk-header__container govuk-width-container">
                <div class="govuk-header__logo">
                    <a href="#" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <svg aria-hidden="true" focusable="false" class="govuk-header__logotype-crown"
               xmlns="http://www.w3.org/2000/svg" viewbox="0 0 132 97" height="30" width="36">
            <path fill="currentColor" fill-rule="evenodd"
                  d="M25 30.2c3.5 1.5 7.7-.2 9.1-3.7 1.5-3.6-.2-7.8-3.9-9.2-3.6-1.4-7.6.3-9.1 3.9-1.4 3.5.3 7.5 3.9 9zM9 39.5c3.6 1.5 7.8-.2 9.2-3.7 1.5-3.6-.2-7.8-3.9-9.1-3.6-1.5-7.6.2-9.1 3.8-1.4 3.5.3 7.5 3.8 9zM4.4 57.2c3.5 1.5 7.7-.2 9.1-3.8 1.5-3.6-.2-7.7-3.9-9.1-3.5-1.5-7.6.3-9.1 3.8-1.4 3.5.3 7.6 3.9 9.1zm38.3-21.4c3.5 1.5 7.7-.2 9.1-3.8 1.5-3.6-.2-7.7-3.9-9.1-3.6-1.5-7.6.3-9.1 3.8-1.3 3.6.4 7.7 3.9 9.1zm64.4-5.6c-3.6 1.5-7.8-.2-9.1-3.7-1.5-3.6.2-7.8 3.8-9.2 3.6-1.4 7.7.3 9.2 3.9 1.3 3.5-.4 7.5-3.9 9zm15.9 9.3c-3.6 1.5-7.7-.2-9.1-3.7-1.5-3.6.2-7.8 3.7-9.1 3.6-1.5 7.7.2 9.2 3.8 1.5 3.5-.3 7.5-3.8 9zm4.7 17.7c-3.6 1.5-7.8-.2-9.2-3.8-1.5-3.6.2-7.7 3.9-9.1 3.6-1.5 7.7.3 9.2 3.8 1.3 3.5-.4 7.6-3.9 9.1zM89.3 35.8c-3.6 1.5-7.8-.2-9.2-3.8-1.4-3.6.2-7.7 3.9-9.1 3.6-1.5 7.7.3 9.2 3.8 1.4 3.6-.3 7.7-3.9 9.1zM69.7 17.7l8.9 4.7V9.3l-8.9 2.8c-.2-.3-.5-.6-.9-.9L72.4 0H59.6l3.5 11.2c-.3.3-.6.5-.9.9l-8.8-2.8v13.1l8.8-4.7c.3.3.6.7.9.9l-5 15.4v.1c-.2.8-.4 1.6-.4 2.4 0 4.1 3.1 7.5 7 8.1h.2c.3 0 .7.1 1 .1.4 0 .7 0 1-.1h.2c4-.6 7.1-4.1 7.1-8.1 0-.8-.1-1.7-.4-2.4V34l-5.1-15.4c.4-.2.7-.6 1-.9zM66 92.8c16.9 0 32.8 1.1 47.1 3.2 4-16.9 8.9-26.7 14-33.5l-9.6-3.4c1 4.9 1.1 7.2 0 10.2-1.5-1.4-3-4.3-4.2-8.7L108.6 76c2.8-2 5-3.2 7.5-3.3-4.4 9.4-10 11.9-13.6 11.2-4.3-.8-6.3-4.6-5.6-7.9 1-4.7 5.7-5.9 8-.5 4.3-8.7-3-11.4-7.6-8.8 7.1-7.2 7.9-13.5 2.1-21.1-8 6.1-8.1 12.3-4.5 20.8-4.7-5.4-12.1-2.5-9.5 6.2 3.4-5.2 7.9-2 7.2 3.1-.6 4.3-6.4 7.8-13.5 7.2-10.3-.9-10.9-8-11.2-13.8 2.5-.5 7.1 1.8 11 7.3L80.2 60c-4.1 4.4-8 5.3-12.3 5.4 1.4-4.4 8-11.6 8-11.6H55.5s6.4 7.2 7.9 11.6c-4.2-.1-8-1-12.3-5.4l1.4 16.4c3.9-5.5 8.5-7.7 10.9-7.3-.3 5.8-.9 12.8-11.1 13.8-7.2.6-12.9-2.9-13.5-7.2-.7-5 3.8-8.3 7.1-3.1 2.7-8.7-4.6-11.6-9.4-6.2 3.7-8.5 3.6-14.7-4.6-20.8-5.8 7.6-5 13.9 2.2 21.1-4.7-2.6-11.9.1-7.7 8.8 2.3-5.5 7.1-4.2 8.1.5.7 3.3-1.3 7.1-5.7 7.9-3.5.7-9-1.8-13.5-11.2 2.5.1 4.7 1.3 7.5 3.3l-4.7-15.4c-1.2 4.4-2.7 7.2-4.3 8.7-1.1-3-.9-5.3 0-10.2l-9.5 3.4c5 6.9 9.9 16.7 14 33.5 14.8-2.1 30.8-3.2 47.7-3.2z"></path>
            <image src="/assets/images/govuk-logotype-crown.png" xlink:href=""
                   class="govuk-header__logotype-crown-fallback-image" width="36" height="32"></image>
          </svg>
          <span class="govuk-header__logotype-text">
            GOV.UK
          </span>
        </span>
                    </a>
                </div>
                <div class="govuk-header__content">
                    <a href="#" class="govuk-header__link govuk-header__link--service-name">
                        COVID-19 Home Test
                    </a>
                    <button type="button" class="govuk-header__menu-button govuk-js-header-toggle"
                            aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu
                    </button>

                </div>
            </div>
        </header>

        <HelloWorld/>

        <div class="govuk-width-container ">
            <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">

                        <h1 class="govuk-heading-xl">
                            Check what age you can drive
                        </h1>

                        <p>Use this service to:</p>

                        <ul class="govuk-list govuk-list--bullet">
                            <li>do something</li>
                            <li>update your name, address or other details</li>
                            <li>do something else</li>
                        </ul>

                        <a href="#" role="button" draggable="false"
                           class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
                           data-module="govuk-button">
                            Start now
                            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5"
                                 height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                            </svg>
                        </a>

                    </div>

                    <div class="govuk-grid-column-one-third">

                        <div class="app-step-nav-related app-step-nav-related--singular">
                            <h2 class="app-step-nav-related__heading">
                                <span class="app-step-nav-related__pretitle">Part of</span>
                                <a href="#">
                                    Learn to drive a car: step by step
                                </a>
                            </h2>
                        </div>

                        <div id="step-by-step-navigation" data-module="gemstepnav"
                             class="app-step-nav  app-step-nav--active" data-id="e01e924b-9c7c-4c71-8241-66a575c2f61f"
                             data-show-text="show" data-hide-text="hide" data-show-all-text="Show all"
                             data-hide-all-text="Hide all">
                            <div class="app-step-nav__controls">
                                <button aria-expanded="false"
                                        class="app-step-nav__button app-step-nav__button--controls js-step-controls-button"
                                        aria-controls="step-panel-check-youre-allowed-to-drive-1">Show all
                                </button>
                            </div>
                            <ol class="app-step-nav__steps">
                                <li class="app-step-nav__step js-step app-step-nav__step--active step-is-shown"
                                    aria-current="step" data-show="" id="check-youre-allowed-to-drive">
                                    <div class="app-step-nav__header js-toggle-panel" data-position="1">
                                        <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 1
                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                                            <span class="js-step-title"><button
                                                    class="app-step-nav__button app-step-nav__button--title js-step-title-button"
                                                    aria-expanded="true"
                                                    aria-controls="step-panel-check-youre-allowed-to-drive-1"><span
                                                    class="js-step-title-text">
                Check you're allowed to drive
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true"
                           hidden="">hide</span></button></span>
                                        </h3>
                                    </div>

                                    <div class="app-step-nav__panel js-panel"
                                         id="step-panel-check-youre-allowed-to-drive-1">
                                        <p class="app-step-nav__paragraph">Most people can start learning to drive when
                                            they’re 17.</p>

                                        <ol class="app-step-nav__list " data-length="3">
                                            <li class="app-step-nav__list-item js-list-item app-step-nav__list-item--active">
                                                <a data-position="1.1" class="app-step-nav__link js-link"
                                                   href="#content">
                                                    <span class="app-step-nav__link-active-context govuk-visually-hidden">You are currently viewing: </span>Check
                                                    what age you can drive </a>
                                            </li>
                                            <li class="app-step-nav__list-item js-list-item ">
                                                <a data-position="1.2" class="app-step-nav__link js-link" href="#">Requirements
                                                    for driving legally </a>
                                            </li>
                                            <li class="app-step-nav__list-item js-list-item ">
                                                <a data-position="1.3" class="app-step-nav__link js-link" href="#">Driving
                                                    eyesight rules </a>
                                            </li>
                                        </ol>

                                    </div>

                                </li>
                                <li class="app-step-nav__step js-step" id="get-a-provisional-licence">
                                    <div class="app-step-nav__header js-toggle-panel" data-position="2">
                                        <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 2
                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                                            <span class="js-step-title"><button
                                                    class="app-step-nav__button app-step-nav__button--title js-step-title-button"
                                                    aria-expanded="false"
                                                    aria-controls="step-panel-get-a-provisional-licence-2"><span
                                                    class="js-step-title-text">
                Get a provisional licence
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true"
                           hidden="">show</span></button></span>
                                        </h3>
                                    </div>

                                    <div class="app-step-nav__panel js-panel js-hidden"
                                         id="step-panel-get-a-provisional-licence-2">
                                        <ol class="app-step-nav__list " data-length="1">
                                            <li class="app-step-nav__list-item js-list-item ">
                                                <a data-position="2.1" class="app-step-nav__link js-link" href="#">Apply
                                                    for your first provisional driving licence <span
                                                            class="app-step-nav__context">£34 to £43</span>
                                                </a>
                                            </li>
                                        </ol>

                                    </div>

                                </li>
                                <li class="app-step-nav__step js-step" id="driving-lessons-and-practice">
                                    <div class="app-step-nav__header js-toggle-panel" data-position="3">
                                        <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 3
                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                                            <span class="js-step-title"><button
                                                    class="app-step-nav__button app-step-nav__button--title js-step-title-button"
                                                    aria-expanded="false"
                                                    aria-controls="step-panel-driving-lessons-and-practice-3"><span
                                                    class="js-step-title-text">
                Driving lessons and practice
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true"
                           hidden="">show</span></button></span>
                                        </h3>
                                    </div>

                                    <div class="app-step-nav__panel js-panel js-hidden"
                                         id="step-panel-driving-lessons-and-practice-3">
                                        <p class="app-step-nav__paragraph">You need a provisional driving licence to
                                            take lessons or practice.</p>

                                        <ol class="app-step-nav__list " data-length="4">
                                            <li class="app-step-nav__list-item js-list-item ">
                                                <a data-position="3.1" class="app-step-nav__link js-link" href="#">The
                                                    Highway Code </a>
                                            </li>
                                            <li class="app-step-nav__list-item js-list-item ">
                                                <a data-position="3.2" class="app-step-nav__link js-link" href="#">Taking
                                                    driving lessons </a>
                                            </li>
                                            <li class="app-step-nav__list-item js-list-item ">
                                                <a data-position="3.3" class="app-step-nav__link js-link" href="#">Find
                                                    driving schools, lessons and instructors </a>
                                            </li>
                                            <li class="app-step-nav__list-item js-list-item ">
                                                <a data-position="3.4" class="app-step-nav__link js-link" href="#">Practise
                                                    vehicle safety questions </a>
                                            </li>
                                        </ol>

                                    </div>

                                </li>
                                <li class="app-step-nav__step js-step" id="prepare-for-your-theory-test">
                                    <div class="app-step-nav__header js-toggle-panel" data-position="4">
                                        <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--logic">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    and
                  </span>
                </span>
              </span>

                                            <span class="js-step-title"><button
                                                    class="app-step-nav__button app-step-nav__button--title js-step-title-button"
                                                    aria-expanded="false"
                                                    aria-controls="step-panel-prepare-for-your-theory-test-4"><span
                                                    class="js-step-title-text">
                Prepare for your theory test
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true"
                           hidden="">show</span></button></span>
                                        </h3>
                                    </div>

                                    <div class="app-step-nav__panel js-panel js-hidden"
                                         id="step-panel-prepare-for-your-theory-test-4">
                                        <ol class="app-step-nav__list " data-length="3">
                                            <li class="app-step-nav__list-item js-list-item ">
                                                <a data-position="4.1" class="app-step-nav__link js-link" href="#">Theory
                                                    test revision and practice </a>
                                            </li>
                                            <li class="app-step-nav__list-item js-list-item ">
                                                <a data-position="4.2" class="app-step-nav__link js-link" href="#">Take
                                                    a practice theory test </a>
                                            </li>
                                            <li class="app-step-nav__list-item js-list-item ">
                                                <a rel="external" data-position="4.3" class="app-step-nav__link js-link"
                                                   href="https://www.safedrivingforlife.info/shop/product/official-dvsa-theory-test-kit-app-app">Theory
                                                    and hazard perception test app </a>
                                            </li>
                                        </ol>

                                    </div>

                                </li>
                                <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test">
                                    <div class="app-step-nav__header js-toggle-panel" data-position="5">
                                        <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 4
                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                                            <span class="js-step-title"><button
                                                    class="app-step-nav__button app-step-nav__button--title js-step-title-button"
                                                    aria-expanded="false"
                                                    aria-controls="step-panel-book-and-manage-your-theory-test-5"><span
                                                    class="js-step-title-text">
                Book and manage your theory test
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true"
                           hidden="">show</span></button></span>
                                        </h3>
                                    </div>

                                    <div class="app-step-nav__panel js-panel js-hidden"
                                         id="step-panel-book-and-manage-your-theory-test-5">
                                        <p class="app-step-nav__paragraph">You need a provisional driving licence to
                                            book your theory test.</p>

                                        <ol class="app-step-nav__list " data-length="5">
                                            <li class="app-step-nav__list-item js-list-item ">
                                                <a data-position="5.1" class="app-step-nav__link js-link" href="#">Book
                                                    your theory test <span class="app-step-nav__context">£23</span></a>
                                            </li>
                                            <li class="app-step-nav__list-item js-list-item ">
                                                <a data-position="5.2" class="app-step-nav__link js-link" href="#">What
                                                    to take to your test </a>
                                            </li>
                                            <li class="app-step-nav__list-item js-list-item ">
                                                <a data-position="5.3" class="app-step-nav__link js-link" href="#">Change
                                                    your theory test appointment </a>
                                            </li>
                                            <li class="app-step-nav__list-item js-list-item ">
                                                <a data-position="5.4" class="app-step-nav__link js-link" href="#">Check
                                                    your theory test appointment details </a>
                                            </li>
                                            <li class="app-step-nav__list-item js-list-item ">
                                                <a data-position="5.5" class="app-step-nav__link js-link" href="#">Cancel
                                                    your theory test </a>
                                            </li>
                                        </ol>

                                    </div>

                                </li>
                                <li class="app-step-nav__step js-step" id="book-and-manage-your-driving-test">
                                    <div class="app-step-nav__header js-toggle-panel" data-position="6">
                                        <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 5
                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                                            <span class="js-step-title"><button
                                                    class="app-step-nav__button app-step-nav__button--title js-step-title-button"
                                                    aria-expanded="false"
                                                    aria-controls="step-panel-book-and-manage-your-driving-test-6"><span
                                                    class="js-step-title-text">
                Book and manage your driving test
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true"
                           hidden="">show</span></button></span>
                                        </h3>
                                    </div>

                                    <div class="app-step-nav__panel js-panel js-hidden"
                                         id="step-panel-book-and-manage-your-driving-test-6">
                                        <p class="app-step-nav__paragraph">You must pass your theory test before you can
                                            book your driving test.</p>

                                        <ol class="app-step-nav__list " data-length="5">
                                            <li class="app-step-nav__list-item js-list-item ">
                                                <a data-position="6.1" class="app-step-nav__link js-link" href="#">Book
                                                    your driving test <span
                                                            class="app-step-nav__context">£62 to £75</span></a>
                                            </li>
                                            <li class="app-step-nav__list-item js-list-item ">
                                                <a data-position="6.2" class="app-step-nav__link js-link" href="#">What
                                                    to take to your test </a>
                                            </li>
                                            <li class="app-step-nav__list-item js-list-item ">
                                                <a data-position="6.3" class="app-step-nav__link js-link" href="#">Change
                                                    your driving test appointment </a>
                                            </li>
                                            <li class="app-step-nav__list-item js-list-item ">
                                                <a data-position="6.4" class="app-step-nav__link js-link" href="#">Check
                                                    your driving test appointment details </a>
                                            </li>
                                            <li class="app-step-nav__list-item js-list-item ">
                                                <a data-position="6.5" class="app-step-nav__link js-link" href="#">Cancel
                                                    your driving test </a>
                                            </li>
                                        </ol>

                                    </div>

                                </li>
                                <li class="app-step-nav__step js-step" id="when-you-pass">
                                    <div class="app-step-nav__header js-toggle-panel" data-position="7">
                                        <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 6
                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                                            <span class="js-step-title"><button
                                                    class="app-step-nav__button app-step-nav__button--title js-step-title-button"
                                                    aria-expanded="false"
                                                    aria-controls="step-panel-when-you-pass-7"><span
                                                    class="js-step-title-text">
                When you pass
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true"
                           hidden="">show</span></button></span>
                                        </h3>
                                    </div>

                                    <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-when-you-pass-7">
                                        <p class="app-step-nav__paragraph">You can start driving as soon as you pass
                                            your driving test.</p>

                                        <p class="app-step-nav__paragraph">You must have an insurance policy that allows
                                            you to drive without supervision.</p>

                                        <ol class="app-step-nav__list " data-length="1">
                                            <li class="app-step-nav__list-item js-list-item ">
                                                <a data-position="7.1" class="app-step-nav__link js-link" href="#">Find
                                                    out about Pass Plus training courses </a>
                                            </li>
                                        </ol>

                                    </div>

                                </li>
                            </ol>
                        </div>


                    </div>

                </div>


            </main>
        </div>

        <footer class="govuk-footer " role="contentinfo">
            <div class="govuk-width-container ">
                <div class="govuk-footer__meta">
                    <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">

                        <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo"
                             xmlns="http://www.w3.org/2000/svg" viewbox="0 0 483.2 195.7" height="17" width="41">
                            <path fill="currentColor"
                                  d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
                        </svg>
                        <span class="govuk-footer__licence-description">
            All content is available under the
            <a class="govuk-footer__link"
               href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
          </span>
                    </div>
                    <div class="govuk-footer__meta-item">
                        <a class="govuk-footer__link govuk-footer__copyright-logo"
                           href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">©
                            Crown copyright</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</template>

<script>
  import { initAll } from 'govuk-frontend'
  import HelloWorld from './components/HelloWorld.vue'

  export default {
    name: 'App',
    components: {
      HelloWorld
    },
    mounted() {
      initAll()
    }
  }
</script>

<style lang="scss">
    @import "node_modules/govuk-frontend/govuk/all";

    html, body {
        margin: 0;
        padding: 0;
    }

    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: 100%;


        /*        display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: stretch;*/
    }
</style>
